<%- include ../partials/header %>
    <!-- awal Navbar -->
    <div class="container-fluid all-menu">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <H1>Transaction</H1>
                    </div>
                    <form action="" id="detail-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="invoice" class="form-label">Invoice</label>
                                        <input type="text" class="form-control" id="invoice"
                                            value="<%= purchases.invoice %>" placeholder="Invoice" disabled>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Time</label>
                                        <input type="text" class="form-control"
                                            value="<%= moment(purchases.time).format('DD MMM YYYY HH:mm:ss') %>"
                                            id="exampleFormControlInput1" placeholder="Time" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="operator" class="form-label">Operator</label>
                                        <input type="email" class="form-control" value="<%= user.name %>" id="operator"
                                            name="operator" placeholder="operator" disabled>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Goods Barcode</label>
                                        <select class="form-select" aria-label="Default select example" name="barcode"
                                            id="barcode">
                                            <option value="">Open this select menu</option>
                                            <% barang.forEach(item=>{ %>
                                                <option value="<%= item.barcode %>">
                                                    <%= item.barcode + "-" + item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Good Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Good Name"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Stock</label>
                                        <input type="number" class="form-control" id="stock" placeholder="Stock"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Purchase Price</label>
                                        <input type="number" class="form-control" name="purchaseprice"
                                            id="purchaseprice" placeholder="Purchase Price">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Qty</label>
                                        <input type="text" class="form-control" name="quantity" id="quantity"
                                            placeholder="Qty">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="totalprice" class="form-label">Total Price</label>
                                        <input type="text" class="form-control" name="totalprice" id="totalprice"
                                            placeholder="Total price">
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group dropstart">
                                <button type="submit" class="btn btn-primary dropdown-toggle-split"
                                    style="background-color: rgb(5, 15, 151);">
                                    <span class="btn-logo"><i class="fa-solid fa-plus"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                </ul>
                                <button type="submit" class="btn btn-primary">
                                    <span>Add</span>
                                </button>
                            </div>
                    </form>
                    <hr>
                    <hr>
                    <table id="detail-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Barcode</th>
                                <th scope="col">Name</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <form action="" method="post">
                        <div class="mb-3 row">
                            <label for="totalsum" class="col-sm-2 col-form-label">Total Summary</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="totalsum" value="<%= purchases.totalsum %>">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-sm-2 col-form-label">Supplier</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" name="supplier">
                                    <option value="">Open this select menu</option>
                                    <% suppliers.forEach(item=>{ %>
                                        <option value="<%= item.supplierid %>">
                                            <%= item.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="btn-group dropstart">
                            <button type="submit" class="btn btn-success dropdown-toggle-split">
                                <span class="btn-logo"><i class="fa-solid fa-plus"></i></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- Dropdown menu links -->
                            </ul>
                            <button type="submit" class="btn btn-secondary" style="background-color: rgb(59, 160, 59);">
                                <span>Finish</span>
                            </button>
                        </div>
                        <a href="/purchases" style="text-decoration: none;">
                            <div class="btn-group dropstart">
                                <button type="button" class="btn btn-warning dropdown-toggle-split"
                                    style="background-color: yellow;">
                                    <span class="btn-logo"><i class="fa-solid fa-arrow-left"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                </ul>
                                <button type="button" class="btn btn-warning">
                                    <span>Back</span>
                                </button>
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        let invoice = '<%= purchases.invoice %>';
        $(document).ready(function () {
            readDetails()
            //munculin detail barang ketika dipiih barcode
            $('#barcode').change(function () {
                const barcode = $(this).val()
                $.get(`/purchases/goods/${barcode}`).done(function (data) {

                    $('#name').val(data.name)
                    $('#stock').val(data.stock)
                    $('#purchaseprice').val(data.purchaseprice)
                    $('#quantity').val(0)
                    $('#totalprice').val(data.totalprice)
                })
            })

            $('#quantity').keyup(function () {
                const quantity = $(this).val()
                const purchaseprice = $('#purchaseprice').val()
                $('#totalprice').val(formatter.format(purchaseprice * quantity))
            })
            $('#detail-form').submit(function (e) {
                e.preventDefault();
                const itemcode = $('#barcode').val()
                const quantity = $('#quantity').val()

                $.post('/purchases/additem', { invoice, itemcode, quantity }).done(function (data) {
                    readDetails()
                    $('#totalsum').val(formatter.format(data.totalsum))
                })
            })
        })
        const readDetails = () => {
            $.get(`/purchases/details/${invoice}`).done(function (data) {
                let html = ''
                data.forEach((item, index) => {
                    html += `
                <tr>
                    <td>
                        ${index + 1}
                    </td>
                    <td>
                        ${item.itemcode}
                    </td>
                    <td>
                        ${item.name}
                    </td>
                    <td>
                        ${item.quantity}
                    </td>
                    <td>
                        ${formatter.format(item.purchaseprice)}
                    </td>
                    <td>
                        ${formatter.format(item.totalprice)}
                    </td>
                    <td>
                    <button type="button" class="btn btn-danger rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal${item.id}">
                    <i class="fa-solid fa-trash"></i>
                    </button>
                    <div class="modal fade" id="exampleModal${item.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure, You want delete ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a type="button" href="/purchases/deleteitem/${item.id}" class="btn btn-primary">Yes</a>
                        </div>
                        </div>
                    </div>
                    </div>

                    </td>
                </tr>
                `
                })
                $('#detail-table tbody').html(html)
            })
        }
    </script>
    <%- include ../partials/footer %>