<%- include ../partials/header %>
    <div class="container-fluid all-menu">
        <form action="" method="post" encType="multipart/form-data">
            <div class="row">
                <div class="col">
                    <h1>Goods</h1>
                    <div class="card text-start">
                        <div class="card-header">
                            <h6 class="text-primary">Form goods</h6>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="staticbarcode" class="col-sm-2 col-form-label">Barcode</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="barcode" name="barcode"
                                        value="<%= item.barcode %>" disabled>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name"
                                        value="<%= item.name %>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticstock" class="col-sm-2 col-form-label">Stock</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="stock" name="stock"
                                        value="<%= item.stock %>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticpurchase" class="col-sm-2 col-form-label">Purchase Price</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="purchase" name="purchase"
                                        value="<%= item.purchaseprice %>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticselling" class="col-sm-2 col-form-label">selling Price</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selling" name="selling"
                                        value="<%= item.sellingprice %>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputunit" class="col-sm-2 col-form-label">Unit</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" name="unit">
                                        <option value="<%= item.unit%>">
                                            <%= item.unit%>
                                        </option>
                                        <% units.forEach((item, index)=>{%>
                                            <option value="<%= item.unit%>">
                                                <%= item.unit %>
                                            </option>
                                            <%})%>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputpicture" class="col-sm-2 col-form-label">Picture</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" onchange="loadFile(event)" class="btn-kirim"
                                        name="sampleFile" accept="image/png, image/gif, image/jpeg"
                                        value="<%= item.picture %>">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputselling" class="col-sm-2 col-form-label">Preview</label>
                                <div class="col-sm-10">
                                    <img id="output" width="400" height="auto"
                                        src="/images/upload/<%= item.picture %>" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="btn-group dropstart">
                                <button type="submit" class="btn btn-success dropdown-toggle-split">
                                    <span class="btn-logo"><i class="fa-solid fa-database"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                </ul>
                                <button type="submit" class="btn btn-secondary"
                                    style="background-color: rgb(59, 160, 59);">
                                    <span>Save</span>
                                </button>
                            </div>
                            <a href="/goods" style="text-decoration: none;">
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn btn-warning dropdown-toggle-split"
                                        style="background-color: rgb(117, 117, 0);">
                                        <span class="btn-logo"><i class="fa-solid fa-rotate-left"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                    </ul>
                                    <button type="button" class="btn btn-warning">
                                        <span>back</span>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        const loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };


    </script>
    <%- include ../partials/footer %>